<launch>
  <node pkg="human_follow_rknn" type="human_tracker_node" name="human_tracker"
        output="screen">
    <param name="camera_index" value="0"/>
    <param name="width"        value="640"/>
    <param name="height"       value="480"/>
    <param name="fps"          value="30"/>
    <param name="model_path"   value="$(find human_follow_rknn)/../../model/yolov5n_rk3588.rknn"/>
    <param name="person_class_id" value="0"/>
    <param name="miss_patience" value="20"/>
  </node>
</launch>
